{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block main %}

<script>
    function displaymap(){
        var map=document.getElementById("map");
        map.innerHTML='<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116935.61006198269!2d86.04908207609994!3d23.667451960339346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4230341010871%3A0xf89f21d9001d5036!2sBokaro%20Steel%20City%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1619378003465!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>';
    }
</script>


<h1 class="underlined" style="text-align:left; margin-bottom:30px;">About</h1>
<div class="bordered">
    <h2>Present Details</h2>
    <p>
        <img src="/static/me/3.jpg" style="border:3px solid black; border-radius: 180px; width:180px; height:180px; float:right;margin-right: 200px;">
        Hello everybody I am Rahul.<br>
        I am a Science student and a programmer.<br>
        I am from <a href="https://www.bitsindri.ac.in" target="_blank">BIT Sindri</a>,
        <a href="https://www.google.com/maps/place/BIT+Sindri/@23.6548241,86.4709426,16.74z/data=!4m5!3m4!1s0x39f696e95958a6d5:0x7c14e668e6f2feea!8m2!3d23.6568531!4d86.4740646"
            target="_blank">Dhanbad India</a><br>
    </p>
    <h2>Interests</h2>
    <p>
        My fields of interest are Data Structures, Algorithms, Artificial Intelligence and Machine Learning.
        I am learning web programming not because I love this thing but because It is an important thing.
        It helps us to express ourselves and produce something that could be used by common people
        who aren't programmers.
        And also because its important to get a job.
    </p>
    <h2>History</h2>
    <p>
        I Born in <a href="#map" onclick="displaymap()">Bokaro Steel City</a> India. And I grew here only.
        My city was famous for its steel plant which used to be very famous in old days.
    </p>
    <h2>Dreams</h2>
    <p>
        My desire is to go to Africa after making a lot of money in life,
        and do some development there and convert the great Sahara desert
        into a beautiful place on earth. And Also to produce
        renewable energy and convert CO2 of air into solid form.
        It's not possible at present but I know that,
        one day I will surely be able to do so.
    </p>
    <div id="map"></div>
    

</div>

{% endblock %}