{% extends "layout.html" %}
{% block title %}
Achievements
{% endblock %}
{% block main %}
<h1 class="underlined">My Achievements</h1>

<ul class="list-group text-center bordered">
    <li>
        <dt>World Programming Championship - IIT Mumbai</dt>
        <dd> Rank 69 | Certificate no 99695</dd>
    </li>
    <li>
        <dt>Gold in HackFest 2020</dt>
        <dd>Rank 29 | 8051
            Rating 2042.08 from 1500
            <a href="https://www.hackerrank.com/reslits/hackerrank-hackfest-2020/pctablet505">Visit</a>
        </dd>
    </li>
    <li>
        <dt>CodeVita Season 9</dt>
        <dd>Cleared Round 1</dd>
    </li>
    <li>
        <dt>CodeVita Season 9</dt>
        <dd>Got AIR 242 in Round 2</dd>
    </li>
    <li>
        <dt>Hack the Interview III</dt>
        <dd>Rank(73 | 919)
            <a href="https://www.hackerrank.com/reslits/hack-the-interview-iv/pctablet505">Visit</a>
        </dd>
    </li>
    <li>
        <dt>Hack the Interview IV (Asia Pacific)</dt>
        <dd> Rank(100 | 4353)
            <a href="https://www.hackerrank.com/reslits/hack-the-interview-iv-apac/pctablet505">Visit</a>
        </dd>
    </li>
    <li>
        <dt>Hack the Interview IV (U.S.) </dt>
        <dd>Rank( 65 | 1217)
            <a href="https://www.hackerrank.com/reslits/hack-the-interview-iv/pctablet505?h_r=profile">Visit</a>
        </dd>
    </li>
    <li>
        <dt>Hackerrank Algorithms</dt>
        <dd>Rank 815/ 2219538

            <a href="https://www.hackerrank.com/leaderboard?filter=pctablet505&filter_on=hacker&page=1&track=algorithms&type=practice">Visit</a>
        </dd>
    </li>
    <li>
        <dt>Hackerrank Data Structures </dt>
        <dd>
            Rank 169| 931788
            <a href="https://www.hackerrank.com/leaderboard?filter=pctablet505&filter_on=hacker&page=1&track=data-structures&type=practice">Visit</a>
        </dd>
    </li>
    <li>
        <dt>Hackerrank Python Practice</dt>
        <dd>
            Rank 1<a href="https://www.hackerrank.com/leaderboard?filter=pctablet505&filter_on=hacker&page=1&track=python&type=practice">Visit</a>
        </dd>
    </li>
</ul>



{% endblock %}