{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block main %}
<h1>Contact Me</h1>

<ul class="m-5 list-unstyled text-center font-italic">
    {% for method in contacts %}
    <li class="list-grroup-item h2">
        <tr >
            <td>
                {{method}}
            </td>
            <td>
                <a href="{{contacts[method][1]}}" style="font-style:oblique;">{{contacts[method][0]}}</a>
            </td>
        </tr>

    </li>
    {% endfor %}
</ul>

{% endblock %}