{% extends "layout.html" %}
{% block title %}
Education
{% endblock %}
{% block main %}
<h1><span style="background-color:skyblue; padding:10px; font-weight:bold;font-size:1.5cm;font-style: italic;">Education
        Details</span></h1>
<div class="container text-center bordered">


    <table class="table table-striped table-bordered" style="margin-left:auto; margin-top:39px;">

        <thead class="thead text-center" style="font-size:large">
            <th scope="col">Institution</th>
            <th scope="col">Education</th>
            <th scope="col">Year</th>
        </thead>
        <tbody>
            <tr>

                <td><a href="https://www.bitsindri.ac.in" target="_blank">BIT Sindri</a></td>
                <td><a href="https://www.bitsindri.ac.in/index.php/departments/computer-science-engineering"
                        target="_blank">B.Tech Computer Science</a></td>
                <td>2018-2022</td>
            </tr>
            <tr>
                <td><a href="https://micromasters.mit.edu/" target="_blank">MITx</a></td>
                <td><a href=https://micromasters.mit.edu/ds/ target="_blank">Micro Masters in Statitics and Data
                        Science</a></td>
                <td>2021-2022</td>
            </tr>
            <tr>
                <td><a href="https://www.ggpsbokaro.org/" target="_blank">Guru Gobind Singh Public School</a></td>
                <td>Higher Secondary Education</td>
                <td>2015-2017</td>
            </tr>
            <tr>
                <td><a href="http://www.arspublicschool.com" target="_blank">ARS Public School</a></td>
                <td>
                    <ul>

                        <li>High School</li>
                        <li>Middle School</li>

                    </ul>
                </td>
                <td>2008-2015</td>
            </tr>
            <tr>
                <td> Sharswati Sishu Vidya Mandir</td>
                <td>Elementary School</td>
                <td>2005-2008</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}