{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block main %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        
        <div class="carousel-item active" data-bs-interval="5000">
            <img src={{path}}/{{photos[0]}} class="d-block w-100" alt="{{0}}">
        </div>
        {% for src in photos[1:] %}
        <div class="carousel-item" data-bs-interval="5000">
            <img src={{path}}/{{src}} class="d-block w-100" alt="{{src}}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<p id="welcome">
    <i>Welcome to my <b>Home Page</b></i>
</p>

{% endblock %}