{% extends "layout.html" %}
{% block title %}
    Resume
{% endblock %}

{% block main %}
    <h1>Rahul Kumar</h1>
    <div class="resume">
        <h1>Contact</h1>

        <ul id="contact_resume">
            {% for method in contacts %}
                <li>
                    <tr>
                        <td>
                            {{ method }}
                        </td>
                        <td>
                            <a href="{{ contacts[method][1] }}"
                               style="font-style:oblique;">{{ contacts[method][0] }}</a>
                        </td>
                    </tr>

                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="resume">
        <h1>Education</h1>
        <table class="table table-striped table-bordered" style="margin-left:auto; margin-top:39px;">

            <thead class="thead text-center" style="font-size:large">
            <th scope="col">Institution</th>
            <th scope="col">Education</th>
            <th scope="col">Year</th>
            </thead>
            <tbody>
            <tr>

                <td><a href="https://www.bitsindri.ac.in" target="_blank">BIT Sindri</a></td>
                <td><a href="https://www.bitsindri.ac.in/index.php/departments/computer-science-engineering"
                       target="_blank">B.Tech Computer Science</a></td>
                <td>2018-2022</td>
            </tr>
            <tr>
                <td><a href="https://micromasters.mit.edu/" target="_blank">MITx</a></td>
                <td><a href=https://micromasters.mit.edu/ds/ target="_blank">Micro Masters in Statitics and Data
                    Science</a></td>
                <td>2021-2022</td>
            </tr>
            <tr>
                <td><a href="https://www.ggpsbokaro.org/" target="_blank">Guru Gobind Singh Public School</a></td>
                <td>Higher Secondary Education</td>
                <td>2015-2017</td>
            </tr>
            <tr>
                <td><a href="http://www.arspublicschool.com" target="_blank">ARS Public School</a></td>
                <td>
                    <ul>

                        <li>High School</li>
                        <li>Middle School</li>

                    </ul>
                </td>
                <td>2008-2015</td>
            </tr>
            <tr>
                <td> Sharswati Sishu Vidya Mandir</td>
                <td>Elementary School</td>
                <td>2005-2008</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="resume">
        <h1>Skills</h1>
        <ol>
            {% for skill in skills %}
                <li>{{ skill }}</li>
                <ul class="skills">
                    {% for sub_skill in skills[skill] %}
                        <li>{{ sub_skill }}</li>
                    {% endfor %}
                </ul>

            {% endfor %}
        </ol>
    </div>

    <div class="resume">
        <h1>Projects</h1>
        <ol>
            {% for project in projects %}
                <li>

                    <a href="{{ project['code'] }}">{{ project['title'] }}</a>

                </li>


            {% endfor %}
        </ol>
    </div>
    <div class="resume">
        <h1>Achievements</h1>
        <ol class="list-group">
            {% for achievement in achievements %}
                <li>
                    <dt>{{ achievement.achievement }}</dt>
                    <dd> {{ achievement.description }}
                        {% if achievement.link %}
                            <a href="{{ achievement.link }}">Visit</a>
                        {% endif %}
                    </dd>

                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="resume">
        <h1>Certifications</h1>
        <h3><a href="certifications">Click to see my certifications</a></h3>
    </div>
{% endblock %}