{% extends "layout.html" %}
{% block title %}
Resume
{% endblock %}

{% block main %}
<!-- <button id="download" onclick="window.open('{{ url_for('static', filename='resume.pdf') }}','_blank')"
    class="btn btn-primary">
    Download Resume
</button> -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Vast+Shadow&display=swap');
</style>

<!-- 
    <h1 style="font-size: .6in; font-family: 'Goblin One', cursive, cursive;">Rahul Kumar</h1>
<div class="resume">
    <div class="content">
        <ul id="contact_resume">
            {% for method in contacts %}
            <li>
                <tr>
                    <td>
                        {{ method }}
                    </td>
                    <td>
                        <a target="_blank" href="{{ contacts[method][1] }}" style="font-style:oblique;">{{
                            contacts[method][0] }}</a>
                    </td>
                </tr>
            </li>
            {% endfor %}
        </ul>

        <div class="resume">


            <div class="row">
                <div class="col-7">
                    <a href="https://www.google.com/maps/place/Bokaro+Steel+City,+Jharkhand/@23.6676092,86.0490819,12z/data=!3m1!4b1!4m5!3m4!1s0x39f4230341010871:0xf89f21d9001d5036!8m2!3d23.6692888!4d86.1510944"
                        target="_blank">
                        <h4 style="color: black;"><strong>Address</strong></h4>
                    </a>
                    <address>
                        Bokaro Steel City,
                        Jharkhand, India 827010.
                    </address>
                    <p>


                        Expertise in advance data structures, Artificial Intelligence, algorithms and Machine Learning.
                        Interested in theoretical details and implementation.
                        With a good knowledge in Statitics and Data Science.
                        Also familiar with basic web programming and cross-platform GUI.
                    </p>
                </div>
                <div class="col">
                    <img src="/static/me/3.jpg"
                        style="border:3px solid black; border-radius: 50px; width:130px; height:130px; float:center;">

                </div>
            </div>

        </div>

    </div>

</div>





<div class="resume">
    <h1>Education</h1>
    <div class="content">
        <dl style="column-count:2 ; column-gap: 40px;">
            {%for university in education%}
            <tr>
                <li>

                    <dt><a style="color:black"
                            href={{university.website_school}}>{{university.school}}</a>({{university.duration}})</dt>
                    <dd><a style="color:black" href={{university.website_degree}}>{{university.degree}}</a></dd>


                </li>
            </tr>

            {% endfor %}
            </ul>
    </div>

</div>



<div class="resume">
    <h1>Achievements</h1>
    <ol class="content " style="column-count:4 ; column-gap: 40px;">
        {% for achievement in achievements %}
        <tr>
            <li>
                <dt>{{ achievement.achievement }}</dt>
                <dd> {{ achievement.description }}
                    {% if achievement.link %}
                    <a target="_blank" href="{{ achievement.link }}">Visit</a>
                    {% endif %}
                </dd>

            </li>
        </tr>
        {% endfor %}
    </ol>

</div>





<div class="resume">
    <h1>Certifications</h1>
    <ul class="content " style="column-count:2 ;">
        {% for certificate in certificates %}
        <dt>
            <li><a style="color:black" target="_blank" href="{{ certificate.credential }}">{{ certificate.title }}</a>
            </li>
        </dt>
        <dd>{{certificate.organization}}</dd>
        {% endfor %}
    </ul>
</div>
<div class="resume">
    <h1>Skills</h1>
    <ul class="content " style="column-count:6 ; column-gap: 30px;">
        {% for skill in skills %}
        <li>{{ skill }}</li>

        {% for sub_skill in skills[skill] %}
        <li>{{ sub_skill }}</li>
        {% endfor %}


        {% endfor %}
    </ul>

</div>

<div class="resume">
    <h1>Projects</h1>
    <ol class="content " style="column-count:3 ;">
        {% for project in projects %}
        <li>

            <a target="_blank" href="{{ project['code'] }}">{{ project['title'] }}</a>

        </li>


        {% endfor %}
    </ol>

</div>
<div class="resume">
    <h1>Hobbies</h1>
    <ul class="content" style="column-count: 3;">
        {% for hobby in hobbies %}
        <li>{{ hobby }}</li>
        {% endfor %}
    </ul>
</div> -->
<embed src="/static/resume1page.pdf" width="100%" height="1500">

{% endblock %}