{% extends "layout_resume.html" %}
{% block title %}
Resume
{% endblock %}

{% block main %}
<!-- <button id="download" onclick="window.open('{{ url_for('static', filename='resume.pdf') }}','_blank')"
    class="btn btn-primary">
    Download Resume
</button> -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Vast+Shadow&display=swap');
</style>
<h1 style="font-size: .6in; font-family: 'Goblin One', cursive, cursive;">Rahul Kumar</h1>
<div class="resume">
    <div class="content">
        <ul id="contact_resume">
            {% for method in contacts %}
            <li>
                <tr>
                    <td>
                        {{ method }}
                    </td>
                    <td>
                        <a target="_blank" href="{{ contacts[method][1] }}" style="font-style:oblique;">{{
                            contacts[method][0] }}</a>
                    </td>
                </tr>
            </li>
            {% endfor %}
        </ul>

        <div class="resume">


            <div class="row">
                <div class="col-7">
                    <p>
                    <address>
                        Bokaro Steel City,
                        Jharkhand, India 827010.
                    </address>

                    Expertise in advance data structures, Artificial Intelligence, algorithms and Machine Learning.
                    Interested in theoretical details and implementation.
                    With a good knowledge in Statitics and Data Science.
                    Also familiar with basic web programming and cross-platform GUI.
                    </p>
                </div>
                <div class="col">
                    <img src="/static/me/3.jpg"
                        style="border:3px solid black; border-radius: 50px; width:130px; height:130px; float:center;">

                </div>
            </div>

        </div>

    </div>

</div>





<div class="resume">
    <h1>Education</h1>
    <div class="content">
        <table class="table" style="margin: 0px;">

            <thead class="thead text-left" style="font-size:large">
                <th scope="col">Institution</th>
                <th scope="col">Education</th>
                <th scope="col">Year</th>
            </thead>
            <tbody>
                <tr>
                    <td><a target="_blank" href="https://micromasters.mit.edu/" target="_blank">MITx</a></td>
                    <td><a target="_blank" href=https://micromasters.mit.edu/ds/ target="_blank">Micro Masters
                            in Statitics and Data
                            Science</a></td>
                    <td>2021-2022</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="https://www.bitsindri.ac.in" target="_blank">BIT Sindri</a>
                    </td>
                    <td><a target="_blank"
                            href="https://www.bitsindri.ac.in/index.php/departments/computer-science-engineering"
                            target="_blank">B.Tech Computer Science</a></td>
                    <td>2018-2022</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="https://www.ggpsbokaro.org/" target="_blank">Guru Gobind Singh
                            Public School</a></td>
                    <td>Higher Secondary Education</td>
                    <td>2015-2017</td>
                </tr>
                <tr>
                    <td><a target="_blank" href="http://www.arspublicschool.com" target="_blank">ARS Public
                            School</a></td>
                    <td>
                        High School


                    </td>
                    <td>2008-2015</td>
                </tr>
                <tr>
                    <td> Sharswati Sishu Vidya Mandir</td>
                    <td>Elementary School</td>
                    <td>2005-2008</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="resume">
    <h1>Achievements</h1>
    <ol class="content3">
        {% for achievement in achievements %}
        <li>
            <dt>{{ achievement.achievement }}</dt>
            <dd> {{ achievement.description }}
                {% if achievement.link %}
                <a target="_blank" href="{{ achievement.link }}">Visit</a>
                {% endif %}
            </dd>

        </li>
        {% endfor %}
    </ol>

</div>





<div class="resume">
    <h1>Certifications</h1>
    <ul class="content2">
        {% for certificate in certificates %}
        <dt>
            <li><a style="color:black" target="_blank" href="{{ certificate.credential }}">{{ certificate.title }}</a>
            </li>
        </dt>
        <dd>{{certificate.organization}}</dd>
        {% endfor %}
    </ul>
</div>
<div class="resume">
    <h1>Skills</h1>
    <ul class="content content5">
        {% for skill in skills %}
        <li>{{ skill }}</li>

        {% for sub_skill in skills[skill] %}
        <li>{{ sub_skill }}</li>
        {% endfor %}


        {% endfor %}
    </ul>

</div>

<div class="resume">
    <h1>Projects</h1>
    <ol class="content3 ">
        {% for project in projects %}
        <li>

            <a target="_blank" href="{{ project['code'] }}">{{ project['title'] }}</a>

        </li>


        {% endfor %}
    </ol>

</div>
<div class="resume">
    <h1>Hobbies</h1>
    <ul class="content">
        {% for hobby in hobbies %}
        <li>{{ hobby }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}